* {
    font-family: 'Pretendard', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ahref {
    text-align: center;
    margin-top: 0;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: none;
}