@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    font-family: Pretendard, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
}

.mypage-box {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 0 20px;

    left: 50%;
    transform: translate(-50%, 0);

    background-color: #F7F7F7;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.mypage-box-title {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 700;
    color: #262626;
    margin-left: 0;
}

.mypage-box-content {
    margin-top: 26px;
    flex: 1;
}

.mypage-box-content-title {
    font-size: 17px;
    font-weight: 600;
    color: #262626;
}

.mypage-box-content-inputbox {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

.mypage-box-content-inputbox:focus-within {
    border: 1px solid #E50914;
}

.mypage-box-content-inputbox input {
    width: 100%;
    outline: none;
    border: none;
    height: 17px;
    font-size: 14px;
    font-weight: 400;
}

.errorMessage {
    margin-top: 8px;
    color: #ef0000;
    font-size: 12px;
}

.changepwButton {
    width: 100%;
    height: 40px;
    border: none;
    font-weight: 700;
    background-color: lightblue;
    border-radius: 64px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}