a:hover {
  color: #e50914;
  text-decoration: none;
}

a:link {
  color: #e50914;
  text-decoration: none;
}

a:visited {
  color: #e50914;
  text-decoration: none;
}

a:hover {
  color: #e50914;
  text-decoration: none;
}

a:active {
  color: #e50914;
  text-decoration: none;
}
